body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,56,91,1) 0%, rgba(35,77,109,1) 41%, rgba(0,5,64,1) 100%);
      overflow-x: hidden;
      background-size: 100% 100%;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      letter-spacing: 0.4px;
  }

   
  
  .cardContainer{
    margin-left:150px;
}
.hamburger-button{
    display:none;
    width: 60px;
    height:60px;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
  }
  
  /*SIDE NAVBAR START*/
  .navbar-fixed-left {
      width: 220px;
      position: fixed;
      border-radius: 0;
      height: 100%;
      background: rgb(8,15,23);
   background: linear-gradient(130deg, rgba(8,15,23,1) 0%, rgba(4,7,12,1) 100%);
      padding-left: 0;
      display: block;
      margin-left: 0;
    }
    
    #navbarNavDropdown .navbar-nav {
      display: flex !important;
      flex-direction: column;
    }
    
    .navbar {
      display: inline-flex !important;
      flex-direction: column;
  
    }
    .song-card-image {
      width: 193px;
    }
  
   
    .navbar-collapse {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -ms-flex-positive: 1;
      flex-grow: 0;
      -ms-flex-align: center;
      align-items: center;
    }
    .nav-link{
      color: #fff!important;
    
    }
    .profile-nav {
      position: absolute;
      margin: auto;
      bottom: 73px;
      padding-right: 20px;
      width: 170px;
    }
  
    /*SIDE NAVBAR END*/
  
.jumbotron {
    margin-left: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    object-fit: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    margin-left: 170px;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(120deg, #0000009d, #75757556);
    opacity: .7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    margin-top: 50px;
}

.lead {
    color: #ffff !important;
    z-index: 2 !important;
    text-shadow: 2px 2px 7px black;
    vertical-align: center;
    font-size: 30px;
}

.title {
    color: #ffff !important;
    z-index: 2 !important;
    text-shadow: 2px 2px 7px black;
    vertical-align: center;
    font-size: 65px;
}


.image-card{
    width: 200px;
    height:200px;
}


@media (max-width: 1000px) {
    
.jumbotron {
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    object-fit: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.lead {
    color: #ffff !important;
    z-index: 2 !important;
    text-shadow: 2px 2px 7px black;
    vertical-align: center;
    font-size: 25px;
}

.title {
    color: #ffff !important;
    z-index: 2 !important;
    text-shadow: 2px 2px 7px black;
    vertical-align: center;
    font-size: 40px;
}

  
.cardContainer{
    margin-left:0px;
}

.jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    margin-left: 0px;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(120deg, #0000009d, #75757556);
    opacity: .7;
}
    .navbar-fixed-left {
     margin-left: -220px;
    }
    .hamburger-button{
    display:block;
    width: 40px;
    height:40px;
    text-align: center;
    justify-content: center;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
    font-size: 15px;
    z-index: 20000;
  }
  }
  
  
 .album-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }







 
/*PLAYER START*/
.fill {
    width: 0;
    height: 5px;
    background: #fff;
    border-radius: 50px;
  }
  .player {
    background-color: #2e2e2e;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
    z-index:9999;
  }
  .songTitle {
    font-size: 14px;
  }
  .singer {
    font-size: 11px;
    color: rgb(194, 194, 194);
  }
  
  .player-controls {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .slider {
    padding-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #slider {
    width: 400px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
  }
  .third-col-player {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    color: rgb(194, 194, 194);
  }
  #slider-2 {
    width: 100px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    
  }
  /*PLAYER END*/
  



  
@media (max-width: 760px) {


  
    .songs {
      margin-left: 0;
    }
  
    .song-div {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .songs h3 {
      margin-left: 0 !important;
      text-align: center;
      padding: 0;
    }
  }
  
@media (max-width: 998px) {
   
   
    .song-row {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
    }
    .player {
      background-color: #2e2e2e;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 10px 0 0 0;
     
    }
    .songTitle {
      font-size: 14px;
    }
    .singer {
      font-size: 11px;
      color: rgb(194, 194, 194);
    }
    .fill {
      width: 0;
      height: 5px;
      background: #fff;
      border-radius: 50px;
    }
    .player-controls {
      font-size: 18px;
      margin-top: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .slider {
      padding-top: 5px;
      display: flex;
    
    }
    .player-div {
      margin-top: 20px;
    }
    #slider {
      width: 280px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
    }
    .third-col-player {
      display: none;
    }
    #slider-2 {
      width: 100px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
  
    }
  }
  
  .third-col-player svg{
    font-size: 25px;
  }