body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,56,91,1) 0%, rgba(35,77,109,1) 41%, rgba(0,5,64,1) 100%);
    overflow-x: hidden;
    background-size: 100% 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.4px;
}

.hamburger-button{
  display:none;
  width: 60px;
  height:60px;
  background-color: #1db954;
  color: #fff;
  padding:10px;
  position: absolute;
  top: 30px;
  right:30px;
}

/*SIDE NAVBAR START*/
.navbar-fixed-left {
    width: 220px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background: rgb(8,15,23);
background: linear-gradient(130deg, rgba(8,15,23,1) 0%, rgba(4,7,12,1) 100%);
    padding-left: 0;
    display: block;
    margin-left: 0;
  }
  
  #navbarNavDropdown .navbar-nav {
    display: flex !important;
    flex-direction: column;
  }
  
  .navbar {
    display: inline-flex !important;
    flex-direction: column;

  }
  .song-card-image {
    width: 193px;
  }

 
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link{
    color: #fff!important;
  }
  .profile-nav {
    position: absolute;
    margin: auto;
    bottom: 73px;
    padding-right: 20px;
    width: 170px;
  }

  /*SIDE NAVBAR END*/



  /*signupu button*/
  .signUpbtn {
    line-height: 1;
    box-shadow: inset 0 0 0 2px #616467;
    padding: 15px;
    text-transform: uppercase;
    transition-duration: 0.3s;
    border-width: 0;
    text-decoration: none;
    margin-top: 0.8rem;
    min-width: 160px;
    white-space: normal;
    text-align: center;
    font-size: 12px !important;
    width: 100%;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important;
    text-align: center;
    transition: all ease .10s;

  }

  .whiteButton{
    line-height: 1;
    box-shadow: inset 0 0 0 2px #616467;
    padding: 15px;
    text-transform: uppercase;
    transition-duration: 0.3s;
    border-width: 0;
    text-decoration: none;
    margin-top: 0.8rem;
    min-width: 160px;
    white-space: normal;
    text-align: center;
    border: none;
    font-size: 12px !important;
    width: 100%;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important;
    text-align: center;
      background-color: #fff;
      color:#0000!important;
      transition: all ease .10s;
  }
  .whiteButton:hover{
      background-color: #888e94;
      color: #fff;
      transition: all ease .10s;
      text-decoration: none!important;
  }
  .whiteButton a{
      color: #000;     
  }
.whiteButton a:hover,
.signUpbtn a:hover{
    text-decoration: none!important;
}
  .signUpbtn a{
    color: #fff!important;
    transition: all ease .10s;
}






/*breadcrumb start*/
.breadcrumb{
    width:100%;
    background-color: transparent;
    color: #fff!important;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 100px;
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: " "!important;
    padding: 0 20px;
}
.breadcrumb-item a{
    color: #fff;
    font-size: 10px;
}
/*breadcrumb end*/


/*PLAYER START*/
.fill {
    width: 0;
    height: 5px;
    background: #fff;
    border-radius: 50px;
  }
  .player {
    background-color: #2e2e2e;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
  }
  .songTitle {
    font-size: 14px;
  }
  .singer {
    font-size: 11px;
    color: rgb(194, 194, 194);
  }
  
  .player-controls {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .slider {
    padding-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #slider {
    width: 400px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
  }
  .third-col-player {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    color: rgb(194, 194, 194);
  }
  #slider-2 {
    width: 100px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  /*PLAYER END*/



  .image-card{
      width: 170px;
      height: 170px;
      display: inline-block;
      box-shadow: 2px 5px 8px rgba(0,0,0,0.3);
  }

  .cardContainer{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding:0; 
     margin-left:220px!important;
     color:#fff;
     font-size:12px;
  }
  .cardContainer p{
      margin:5px auto;
  }
  .cardContainer2{
    display: flex;
    justify-content:start;
    text-align: center;
    padding:0; 
    margin-left:220px!important;
    color:#fff;
    font-size:12px;
 }

 .cardContainer2 p{
   margin: 5px auto;
 }

.section-title{
    margin-left:240px;
    color:white;
    letter-spacing: 0.5px;
}
  


  .underbar{
    width: 0;
    height: 5px;
    background: rgba(100,100,200,0);
    left: -50px;
    top: 20px;
    position: absolute;
    -webkit-transition: 0.5s ease;
  }


  li{
      -webkit-transition: 0.5s ease;
      cursor: pointer;
      position: relative;
  }
    li:hover{
      text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
    }
    li:hover > .underbar{
      position: absolute;
      left: 0;
      width: 49px;
      background: #1ed760;
      height:3px;
      text-decoration: none!important;
      margin-top:-2px;
    }
    li a:hover{
        text-decoration: none!important;

    }
    li:nth-of-type(2):hover > .underbar{
        position: absolute;
      left: 40px;
      width: 45px;
      background: #1ed760;
    }
    li:nth-of-type(3):hover > .underbar{
        position: absolute;
      left: 40px;
      width: 100px;
      background: #1ed760;
    }
    li:nth-of-type(4):hover > .underbar{
      position: absolute;
      left: 40px;
      width: 75px;
      background: #1ed760;
    }
   
    li:nth-of-type(5):hover > .underbar{
        position: absolute;
        left: 40px;
        width: 50px;
        background: #1ed760;
      }
     
  







@media (max-width: 760px) {
  
    .songs {
      margin-left: 0;
    }
  
    .song-div {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .songs h3 {
      margin-left: 0 !important;
      text-align: center;
      padding: 0;
    }
  }
  
  @media (max-width: 998px) {
 .image-card{
      width: 150px;
      height: 150px;
      display: inline-block;
  }

    .player {
      background-color: #2e2e2e;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 10px 0 0 0;
      text-align: center;
    }
    .songTitle {
      font-size: 14px;
    }
    .singer {
      font-size: 11px;
      color: rgb(194, 194, 194);
    }
    .fill {
      width: 0;
      height: 5px;
      background: #fff;
      border-radius: 50px;
    }
    .player-controls {
      font-size: 18px;
      margin-top: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .slider {
      padding-top: 5px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .player-div {
      margin-top: 20px;
    }
    #slider {
      width: 280px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .third-col-player {
      display: none;
    }
    #slider-2 {
      width: 100px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .cardContainer{
    
        margin-left:0px!important;
     }
  }
  
.itemsContainer{
  position: relative;
}
  


.itemsContiner:hover .play{
  display:block;
}
.play{
    position: absolute;
    display:none;
    font-size: 35px;
    top:35%;
    bottom:0;
    left:0px;
    right:0px;
    z-index:100;
    color: #fff;
    margin: auto; 
} 







@media(max-width: 966px){
  
  
      .breadcrumb{
          margin-left: 0;
      }
      .cardContainer{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin:0;
          padding: 0!important;
      }
      .cardContainer2{
        display: flex;
        justify-content:center;
        text-align: center;
        padding:0; 
        margin-left:0px!important;
        color:#fff;
        font-size:12px;
     }
    .section-title{
        text-align: center;
        margin:0;
    }
}

@media (max-width: 760px) {
  .navbar-fixed-left {
   margin-left: -220px;
  }
  .hamburger-button{
  display:block;
  width: 40px;
  height:40px;
  text-align: center;
  justify-content: center;
  background-color: #1db954;
  color: #fff;
  padding:10px;
  position: absolute;
  top: 30px;
  right:30px;
  font-size: 15px;
  z-index: 20000;
}
}
















/*SIDE NAVBAR START*/
.navbar-fixed-left {
  width: 220px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #000000 !important;
  padding-left: 0;
  display: block !important;
  margin-left: 0;
}

#navbarNavDropdown .navbar-nav {
  display: flex !important;
  flex-direction: column;
}
.hamburger-button{
  display:none;
  width: 60px;
  height:60px;
  background-color: #1db954;
  color: #fff;
  padding:10px;
  position: absolute;
  top: 30px;
  right:30px;
}
.navbar {
  display: flex !important;
  flex-direction: column;
}
.song-card-image {
  width: 173px;
}
.cards {
  margin-right: 33px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 10px;
}
.song-row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}



.artist,
.title {
  margin: 0;
  text-align: center;
}
.title {
  font-size: 15px;
  margin-top: 5px;
}
.artist {
  font-size: 12px;
  color: rgb(194, 194, 194);
}
.song-card-info {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 50px;
}
.songs h3 {
  text-align: left;
  margin-left: 55px;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 0;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-collapse li a:not(.signup) {
  color: #fff !important;
}
.profile-nav {
  position: absolute;
  margin: auto;
  bottom: 73px;
  padding-right: 20px;
  width: 170px;
}



/*JUMBOTRON START*/
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.player {
  background-color: #2e2e2e;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0 0 0;
  z-index:9999;
}
.songTitle {
  font-size: 14px;
}
.singer {
  font-size: 11px;
  color: rgb(194, 194, 194);
}

/*PLAYER END*/

@media (max-width: 760px) {

  .jumbotron {
    background-image: url(https://cdn.europosters.eu/image/750/posters/beatles-abbey-road-i8080.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0px;
    height: 300px;
    color: #fff;
  }

  .songs {
    margin-left: 0;
  }

  .song-div {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .songs h3 {
    margin-left: 0 !important;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 998px) {
  .navbar-fixed-left{
    margin-left: -220px;
  }
  .hamburger-button{
    display:block;
    width: 40px;
    height:40px;
    text-align: center;
    justify-content: center;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
    font-size: 15px;
    z-index: 20000;
  }
  .songs h3 {
    margin-left: 0 !important;
    text-align: center;
    padding: 0;
  }
  .song-row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  .player {
    background-color: #2e2e2e;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
   
  }
  .songTitle {
    font-size: 14px;
  }
  .singer {
    font-size: 11px;
    color: rgb(194, 194, 194);
  }
  .fill {
    width: 0;
    height: 5px;
    background: #fff;
    border-radius: 50px;
  }
  .player-controls {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .slider {
    padding-top: 5px;
    display: flex;
  
  }
  .player-div {
    margin-top: 20px;
  }
  #slider {
    width: 280px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
  }
  .third-col-player {
    display: none;
  }
  #slider-2 {
    width: 100px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;

  }
}



.cards{
  position: relative;
}

.cards:hover .play2{
  display:block;
}
.play2{
    position: absolute;
    display:none;
    font-size: 35px;
    top:33%;
    bottom:0;
    left:0px;
    right:0px;
    z-index:100;
    color: #fff;
    margin: auto; 
} 



.whiteButton> a{
  color:#000!important;
}